.Midsec2{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: relative;
}
.Midsec2:before{
    content: "";
    background: url("https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cHJvamVjdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=1000&q=60");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Midsec2 h1{
    font-size: 4rem;
}
.Midsec2 p{
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width:640px) {
    .Midsec2 h1{
        font-size: 2rem;
    }
    .Midsec2{
        height: 70vh;
    }
   
}

